@charset "UTF-8";
body {
    text-align: justify
    }
blockquote {
    margin: 0 0 0 2em
    }
p {
    margin: 0;
    text-indent: 1.5em
    }
.bold {
    font-weight: bold
    }
.italic {
    font-style: italic
    }
.underline {
    text-decoration: underline
    }
.mbp_pagebreak {
    margin: 0;
    display: block;
    break-after: always;
    -webkit-column-break-after: always
    }
.calibre_8 {
    margin-top: 1em;
    text-indent: 0;
    text-align: left
    }
.calibre_10 {
    color: #a9732d
    }
.calibre_30 {
    margin-top: 0;
    text-indent: 0;
    text-align: center
    }
.calibre_32 {
    margin-top: 0;
    text-indent: 0;
    text-align: justify
    }
.calibre_125 {
    margin-top: 15pt;
    text-indent: 0;
    text-align: center
    }
.calibre_128 {
    margin-top: 1em;
    text-indent: 2em;
    text-align: justify
    }
.calibre_129 {
    margin-top: 1em;
    text-indent: 0;
    text-align: right
    }
.calibre_239 {
    margin-top: 1em;
    text-indent: 0;
    text-align: center
    }
.calibre_240 {
    vertical-align: baseline
    }
.calibre_241 {
    margin-top: 2pt;
    text-indent: 0;
    text-align: center
    }
.calibre_281 {
    margin-top: 1em;
    text-indent: 0;
    text-align: justify
    }
.calibre_305 {
    background-color: #d9d9d9
    }
.calibre_995 {
    margin-top: 1em;
    text-indent: 3em;
    text-align: justify
    }
.calibre_5080 {
    margin-top: 1em;
    text-indent: -19pt;
    margin-left: 19pt
    }
.calibre_5082 {
    margin-top: 0;
    text-indent: -19pt;
    margin-left: 19pt
    }
.calibre_5094 {
    margin-top: 0;
    text-indent: 0
    }
